* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Inter', sans-serif;
}

.content-wrapper {
    width: 1400px;
    margin: 0 auto; 
}

.header-navigation-list {
    text-align: center;
     padding: 32px 0; 
}

.header-navigation-item {
    display: inline-block;
    margin: 0 72px; 
    font-size: 18px;
    line-height: 24px;   
}

a {
    text-decoration: none;
}

.header-navigation-link {
    color: #000; 
 }

.main-heading {
   text-align: center;
   font-size: 48px;
   font-weight: 600;
   line-height: 64px;
   margin-bottom: 40px;
   margin-top: 88px;
 }

 .main-discription {
    font-size: 21px;
    font-weight: 500;
    line-height: 31px;
    width: 856px;
    color: #161616;
    margin: 0 auto;
 }

.main-discription-span {
    color: #04959E;
    font-size: 21px;
    font-weight: 600;
    line-height: 31px;
}
 
.main-list {
    margin-top: 24px;
    margin-bottom: 50px; 
}

.main-list-item {
    color:#161616;
    width: 856px;
    margin-left: 272px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;

}
    
.button {
    color: #FFF;
    display: inline-block;
    text-align: center;
    margin-left: 629px; 
    margin-bottom: 102px; 
    font-size: 18px;
    line-height: 24px; 
    cursor: pointer;
    padding: 10px 24px;
    background-color: #04959E;
    border: none;
}

.footer-line {
    height: 1px;
    background-color: #161616;
    width: 1400px;
    margin-bottom: 16px;
}

.footer-description {
    color: #161616;
    font-size: 18px;
    line-height:27px;
    text-align: center;
    margin-bottom: 16px;
}